

.background {
  position: relative;
}

#images {
  position: absolute;
  z-index: -1;
  transition: all .9s;
  width: 100%;
}

#images img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
