header{
display: flex;
align-items: center;
justify-content: space-between;
}
#menu{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 8px;

z-index: 10;

border: 0;
background: transparent;
}
#menu:hover{
cursor: pointer;
}
#menu span{
height: 2px;
background: var(--text);
border-radius: 8px;
transition: all 1.8s;

}
#menu span:nth-child(1){
 width: 32px;
}
#menu span:nth-child(2){
 width: 40px;
}
#menu span:nth-child(3){
 width: 24px;
}
#menu.active span:nth-child(2){
width:14px;
transform: rotate(-180deg)translate( -4px, 4px)
}
#menu.active span:nth-child(1){
width: 32px;
transform: rotate(-180deg)translate( -4px, 4px)
}
#menu.active span:nth-child(3){
    transform: rotate(-180deg)translate( -4px, 4px);
opacity: 0;
width: 0px;
}